@use "../abstracts/mixins";

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

/*La unidad rem depende del font-size del elemento root (que es la etiqueta html). Aquí se estableció que el font-size fuera de 10px para hacer los cálculos más fáciles para convertir a rem. Se recomienda convertir todos los px a rem; para hacerlo: 
cantidad de pixeles a convertir / pixeles especificados en html = cantidad de rem
*/
/* 
  Se espera que los usuarios tengan el tamaño default de fuente en el navegador, que es 16px. Para obtener este porcentaje, lo que se hizo fue:
  tamaño de fuente que se desea / tamaño de fuente default = Porcentaje a utilizar.
*/
html {
  font-size: 62.5%; //Define lo que es 1rem

  //EL ORDEN DEBE SER DE MAYOR A MENOR, CUANDO SE USA MAX-WIDTH
  @include mixins.respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16
  }

  @include mixins.respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16
  }

  @include mixins.respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include mixins.respond(tab-port) {
    padding: 0; //1rem = 8px, 8/16
  }
}
